.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  color: white;
}

/* In index.css or App.css */
.home-container {
  text-align: center;
  padding: 20px;
}

.aside-home-page {
  color: #d9d9d9;
  display: flex;
}
