body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f2f2f2;
  font-family: "Industry Test Book", sans-serif;
}

nav {
  background-color: #96d953;
}

.side-js {
  display: flex;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
}

nav ul li:first-child {
  display: flex;
}

p {
  font-size: 1.3em;
  padding-left: 20px;
  padding-right: 20px;
}

nav ul li a p {
  padding: 0px;
}

h1 {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 2.65em;
  padding-top: 0px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 3px;
  color: #96d953;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  padding-left: 20px;
  font-size: 2.35em;
}
h3 {
  padding-left: 20px;
  font-size: 1.9em;
}
h4 {
  padding-left: 20px;
  font-size: 1.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-justify-center {
  display: flex;
  height: 91.25vh;
}

.aside-home-page {
  background-color: #f2f2f2;
  display: flex;
  float: left;
  width: 33.333%;
  height: 100%;
  overflow-y: auto;
}

.dropdown {
  position: relative;
  width: 90%;
}

.directions-info-pane {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 15px;
  border: 5px solid #96d953;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 250px;
  overflow-y: auto;
  font-size: 14px;
  z-index: 1000;
  max-height: 50%;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
}
/* In your CSS file or within a CSS-in-JS solution */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Dim effect */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's above all other elements */
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid #ffffff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.routes-card {
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.routes-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.directions-info-pane h3 {
  margin: 20px;
  padding: 5px;
  margin-left: 1.75px;
  margin-right: 15px;
  border: 2px solid #96d953;
  border-radius: 10px;
}
.directions-info-pane h4 {
  margin: 20px;
  padding: 5px;
  margin-left: 1.75px;
  margin-right: 15px;
  border: 2px solid #63a422;
  border-radius: 3px;
}
.directions-info-pane p {
  margin: 20px;
  padding: 5px;
  margin-left: 1.75px;
  margin-right: 15px;
  border-bottom: 2px solid #96d953;
  border-radius: 3px;
}
.directions-info-pane ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.directions-info-pane li {
  list-style-type: none;
}

.input:not(:focus, :hover) {
  .suggestions {
    visibility: hidden;
  }
}

.suggestions {
  position: absolute;
  background-color: white;
  border: 1px solid #e1d7d7;
  border-top: none;
  border-radius: 0 0 5px 5px;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1000;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #e1d7d7;
}

.suggestions li:hover {
  background-color: #f2f2f2;
}

.map {
  width: 66.66%;
  height: 100%;
}

.leaflet-container {
  border-top: 5px solid #7db446;
  border-bottom: 6px solid #7db446;
  border-radius: 15px;
  z-index: 1;
}

button a {
  color: #f2f2f2;
  text-decoration: none;
}

.directions-mini-pane {
  background-color: #e8e8e6;
  border-radius: 15px;
  border: 3px solid #e1d7d7;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
}

.input {
  background-color: #f2f2f2;
  color: black;
  width: 90%;
  border-radius: 5px;
  padding-top: 15px;
  border: 2px solid #e1d7d7;
  padding: 10px;
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.input:focus {
  border-radius: 10px;
  width: 60%;
  border-color: #e8e8e6;
  outline: none;
}
.input:hover:not(:focus) {
  border-color: #cac1b9;
}

form {
  padding: 0px 20px 10px 20px;
}
.Button {
  font-size: 1.3em;
  font-family: "Industry Test Ultra", sans-serif;
  background-color: #96d953;
  color: #f2f2f2;
  cursor: pointer;
  margin-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
  text-decoration: none;
  border: 3px solid #7db446;
  border-radius: 5px;
  box-shadow: 0px 0px 0px #31313180;
  transition: all 0.12s ease-in-out;
}

.Button:active {
  border-radius: 10px;
  border-color: #68a42c;
  outline: none;
  box-shadow: 0px 1px 2px #3131314d;
  transform: scale(0.99);
}

form {
  align-items: center;
  justify-content: center;
  display: flex-row;
}

label {
  font-size: 1.2em;
}

.Directions-button-submit {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
}

hr {
  background-color: #e1d7d7;
  color: #e1d7d7;
  width: 100%;
}
img.logo {
  margin-top: 10px;
  border-radius: 20%;
  margin-left: 10px;
  box-shadow: 0px 0px 0px #000000a3;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img.logo:hover {
  transform: scale(1.05) rotate(3deg) translate(10px, 0);
  box-shadow: 0px 2px 4px #000000a3;
}

.home-li {
  display: flex;
  justify-content: center;
}

.home-logo {
  margin-top: 0px;
  margin-bottom: 5px;
  border: 3px solid #96d953;
}

.X {
  padding: 5px 10px;
  margin: 20px 0px 0px 20px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  body,
  html {
    text-align: center;
  }

  .aside-home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .X {
    max-width: 20%;
  }

  .invisible {
    visibility: hidden;
  }

  .home-page-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    height: auto;
  }

  .map {
    width: 99%;
  }

  .side-js {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p,
  .Button,
  label {
    font-size: 1.2em;
    padding: 0 10px;
    margin: 10px 0;
    text-align: center;
  }

  h1 {
    font-size: 1.9em;
  }

  .Button {
    width: 80%;
    margin: 20px 20px;
    padding: 10px;
  }

  .directions-mini-pane {
    margin: 20px auto;
    width: 90%;
    text-align: center;
  }
}
.routes-styles {
  border: 1px solid #7db446;
  display: flex;
}
